<<<<<<< HEAD
body { 
    background-color: black;
}
.bar {
    background-color: white;
=======
body { 
    background-color: black;
}
.bar {
    background-color: white;
>>>>>>> 3e17d360a26f451f2c2ee7f244eaa2c7ef93b853
}